# SQL Basics

## Installed Packages
 - ipython-sql - Allows writing SQL code through magic commands
 - pymysql - Allows access of mysql database from python
 
## Magic commands
 - % inline
 - %% multiple lines

In [2]:
# Prepare env

%load_ext sql

In [2]:
pip install sqlalchemy==1.4.4

Requirement already satisfied: sqlalchemy==1.4.4 in /Users/mac/anaconda3/envs/SQL-env/lib/python3.11/site-packages (1.4.4)
Requirement already satisfied: greenlet!=0.4.17 in /Users/mac/anaconda3/envs/SQL-env/lib/python3.11/site-packages (from sqlalchemy==1.4.4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Mysql connection to united_nations db

%sql mysql+pymysql://root:password@127.0.0.1:3306/united_nations

'Connected: root@united_nations'

In [3]:
# Mysql connection to chinook.db

%sql sqlite:///../data/Exercises/chinook.db

'Connected: @../data/Exercises/chinook.db'

In [4]:
%%sql 
SELECT * FROM employees;

 * sqlite:///../data/Exercises/chinook.db
Done.

[(1, 'Adams', 'Andrew', 'General Manager', None, '1962-02-18 00:00:00', '2002-08-14 00:00:00', '11120 Jasper Ave NW', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'andrew@chinookcorp.com'),
 (2, 'Edwards', 'Nancy', 'Sales Manager', 1, '1958-12-08 00:00:00', '2002-05-01 00:00:00', '825 8 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 2T3', '+1 (403) 262-3443', '+1 (403) 262-3322', 'nancy@chinookcorp.com'),
 (3, 'Peacock', 'Jane', 'Sales Support Agent', 2, '1973-08-29 00:00:00', '2002-04-01 00:00:00', '1111 6 Ave SW', 'Calgary', 'AB', 'Canada', 'T2P 5M5', '+1 (403) 262-3443', '+1 (403) 262-6712', 'jane@chinookcorp.com'),
 (4, 'Park', 'Margaret', 'Sales Support Agent', 2, '1947-09-19 00:00:00', '2003-05-03 00:00:00', '683 10 Street SW', 'Calgary', 'AB', 'Canada', 'T2P 5G3', '+1 (403) 263-4423', '+1 (403) 263-4289', 'margaret@chinookcorp.com'),
 (5, 'Johnson', 'Steve', 'Sales Support Agent', 2, '1965-03-03 00:00:00', '2003-10-17 00:00:00', '7727B 41 Ave', 'Calgary', 'AB', 'Canada', 'T3B 1Y7', '1 (780) 836-9987', '1 (780) 836-9543', 'steve@chinookcorp.com'),
 (6, 'Mitchell', 'Michael', 'IT Manager', 1, '1973-07-01 00:00:00', '2003-10-17 00:00:00', '5827 Bowness Road NW', 'Calgary', 'AB', 'Canada', 'T3B 0C5', '+1 (403) 246-9887', '+1 (403) 246-9899', 'michael@chinookcorp.com'),
 (7, 'King', 'Robert', 'IT Staff', 6, '1970-05-29 00:00:00', '2004-01-02 00:00:00', '590 Columbia Boulevard West', 'Lethbridge', 'AB', 'Canada', 'T1K 5N8', '+1 (403) 456-9986', '+1 (403) 456-8485', 'robert@chinookcorp.com'),
 (8, 'Callahan', 'Laura', 'IT Staff', 6, '1968-01-09 00:00:00', '2004-03-04 00:00:00', '923 7 ST NW', 'Lethbridge', 'AB', 'Canada', 'T1H 1Y8', '+1 (403) 467-3351', '+1 (403) 467-8772', 'laura@chinookcorp.com')]

In [6]:
%%sql

SHOW TABLES;

 * mysql+pymysql://root:***@127.0.0.1:3306/united_nations
2 rows affected.

[('Access_to_Basic_Services',), ('Country_list',)]